div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: brown;
    display: inline-block;
    margin: .5rem;
    animation: scaling 2.5s ease-in-out infinite;

}

body{
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 10%;
}
@keyframes scaling{
    0%, 100%{
        transform: scale(0.2);
        background-color: aquamarine;
    }
    50%{
        transform: scale(1);
        background-color: hotpink;
    }
    div:nth-child{0}{
        animation: delay 0s;
    }
    div:nth-child{0}{
        animation: delay 0s;
    }
    div:nth-child{0}{
        animation: delay 0s;
    }


}
